body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#nodesTable {
    width: 100%;
    border-collapse: collapse;
}

#nodesTable th {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 12px;
}

#nodesTable th,
#nodesTable td {
    border: 1px solid #ccc;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
}

#nodesTable tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.status-up .status-unhealthy .status-other {
    display: block;
}

.status-up {
    background-color: green;
}

.status-unhealthy {
    background-color: #F7C600 !important;
}

.status-other {
    background-color: red;
}